<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dqy.technicalsolution">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".chapter.communicationnetwork.BeamActivity"></activity>
        <activity
            android:name=".chapter.communicationnetwork.NfcActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/com.example.androidrcipes.beamtext" />
            </intent-filter>
        </activity>
        <activity android:name=".chapter.communicationnetwork.ExchangeActivity" />
        <activity android:name=".chapter.communicationnetwork.SmsActivity" />
        <activity android:name=".chapter.communicationnetwork.FeedActivity" />
        <activity android:name=".chapter.communicationnetwork.DecodeJSONActivity" />
        <activity android:name=".chapter.communicationnetwork.AuthActivity" />
        <activity android:name=".chapter.communicationnetwork.Search1Activity" />
        <activity android:name=".chapter.communicationnetwork.SearchActivity" />
        <activity android:name=".chapter.communicationnetwork.DownloadActivity" />
        <activity android:name=".chapter.communicationnetwork.WebImageActivity" />
        <activity android:name=".chapter.communicationnetwork.AccessWebViewJSActivity" />
        <activity android:name=".chapter.communicationnetwork.InterceptWebEventActivity" />
        <activity android:name=".chapter.communicationnetwork.LocalWebInfoActivity" />
        <activity android:name=".chapter.userinteraction.ActionTabsActivity" />
        <activity android:name=".chapter.userinteraction.FragmentPagerActivity" />
        <activity android:name=".chapter.userinteraction.PagerActivity" />
        <activity android:name=".chapter.userinteraction.NativeActivity" />
        <activity android:name=".chapter.userinteraction.DragTouchActivity" />
        <activity android:name=".chapter.userinteraction.DisallowActivity" />
        <activity android:name=".chapter.userinteraction.RemoteScrollActivity" />
        <activity android:name=".chapter.userinteraction.DelegateActivity" />
        <activity android:name=".chapter.userinteraction.RotateZoomImageViewActivity" />
        <activity android:name=".chapter.userinteraction.PanScrollViewActivity" />
        <activity android:name=".chapter.userinteraction.PanGestureScrollViewActivity" />
        <activity android:name=".chapter.userinteraction.HideSoftInputActivity" />
        <activity android:name=".chapter.userinteraction.CustomKeyboardEnterActivity" />
        <activity android:name=".chapter.userinteraction.TextWatcherActivity" />
        <activity android:name=".chapter.userinteraction.CustomHomeActivity" />
        <activity android:name=".chapter.userinteraction.CustomBackActivity" />
        <activity android:name=".chapter.userinteraction.OptionsActivity" />
        <activity android:name=".chapter.userinteraction.CustomDialogActivity" />
        <activity android:name=".chapter.userinteraction.DialogActivity" />
        <activity android:name=".chapter.userinteraction.ActionActivity" />
        <activity
            android:name=".chapter.userinteraction.HandControlRotationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".chapter.userinteraction.LockActivity" />
        <activity android:name=".chapter.userinteraction.SupportActionActivity" />
        <activity android:name=".chapter.layoutview.SimpleRecyclerActivity" />
        <activity android:name=".chapter.layoutview.ScrollActivity" />
        <activity android:name=".chapter.layoutview.CustomViewTransformationActivity" />
        <activity android:name=".chapter.layoutview.CreatFragmentAnimationActivity" />
        <activity android:name=".chapter.layoutview.CustomWidgetActivity" />
        <activity android:name=".chapter.layoutview.CustomHeaderAdapterActivity" />
        <activity android:name=".chapter.layoutview.CustomAdapterActivity" />
        <activity android:name=".chapter.layoutview.EmptyAdapterActivity" />
        <activity android:name=".chapter.layoutview.UniversalActivity" />
        <activity android:name=".chapter.layoutview.LayoutChangeAnimationCustomActivity" />
        <activity android:name=".chapter.layoutview.LayoutChangeAnimationActivity" />
        <activity android:name=".chapter.layoutview.FlipperActivity1" />
        <activity android:name=".chapter.layoutview.FlipperActivity" />
        <activity android:name=".chapter.layoutview.CreateAnimatorViewActivity" />
        <activity android:name=".chapter.layoutview.CreateCustomViewActivity" />
        <activity android:name=".chapter.layoutview.DarkHideFullActivity" />
        <activity
            android:name=".chapter.layoutview.StyledComponentsActivity"
            android:theme="@style/BaseAppTheme" />
        <activity android:name=".chapter.communicationnetwork.ShowWebInfoActivity" />
        <activity android:name=".chapter.hardwaremultimediainteraction.IntegrateDeviceLocationActivity" />
        <activity android:name=".chapter.ndkrenderscript.NdkRenderscriptActivity" />
        <activity android:name=".chapter.systeminteraction.SystemInteractionActivity" />
        <activity android:name=".chapter.graphicsdrawing.GraphicsDrawingActivity" />
        <activity android:name=".chapter.datapersistence.DataPersistenceActivity" />
        <activity android:name=".chapter.hardwaremultimediainteraction.HardwareMultimediaInteractionActivity" />
        <activity android:name=".chapter.communicationnetwork.CommunicationNetworkActivity" />
        <activity android:name=".chapter.userinteraction.UserInteractionActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".chapter.layoutview.LayoutViewActivity" />

        <receiver android:name=".chapter.communicationnetwork.custom.SmsReceiver">
            <intent-filter android:priority="5">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>