<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dqy.technicalsolution">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".chapter.layoutview.CreateCustomViewActivity"></activity>
        <activity android:name=".chapter.layoutview.DarkHideFullActivity" />
        <activity
            android:name=".chapter.layoutview.StyledComponentsActivity"
            android:theme="@style/BaseAppTheme" />
        <activity android:name=".chapter.communicationnetwork.ShowWebInfoActivity" />
        <activity android:name=".chapter.hardwaremultimediainteraction.IntegrateDeviceLocationActivity" />
        <activity android:name=".chapter.ndkrenderscript.NdkRenderscriptActivity" />
        <activity android:name=".chapter.systeminteraction.SystemInteractionActivity" />
        <activity android:name=".chapter.graphicsdrawing.GraphicsDrawingActivity" />
        <activity android:name=".chapter.datapersistence.DataPersistenceActivity" />
        <activity android:name=".chapter.hardwaremultimediainteraction.HardwareMultimediaInteractionActivity" />
        <activity android:name=".chapter.communicationnetwork.CommunicationNetworkActivity" />
        <activity android:name=".chapter.uerinteraction.UserInteractionActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".chapter.layoutview.LayoutViewActivity" />
    </application>

</manifest>